img {
    width: 300px;
}

h1 {
    padding: 5px;
    font-family: arial;
    font-size: 24px;
    color: white;
    background-color: red;
}

#author-name-and-date {
    font-family: arial;
    font-size: 12px;
    color: lightgray;
}

p, ol {
    font-family: "times new roman";
    font-size: 16px;
    color: gray;
}

a {
    font-family: arial;
    font-size: 12px;
    color: blue; 
}